/*================================================================================
	Item Name: Stack - Responsive Admin Theme
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */


/* a.green:hover {background: #0b5050;}
button,a{background: #fba419;color: white;}
button:hover,a:hover{background: #006b83;}*/

@import url('fonts/fonts.css');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');


::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #e0e0e0;
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0D5CAB;
    border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0D5CAB;
}


button {
    outline: 0 !important
}

a:hover {
    color: inherit;
}

.h100 {
    height: 100%;
}

.vh100 {
    height: 100vh;
}

.accentColor {
    color: #0D5CAB !important;
}

.secondaryColor {
    color: #0A1857 !important;
}

.bgWhite {
    background: #fff;
}

.gap60 {
    gap: 40px;
}


/*notification start here*/

.na.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
vbar-light .navbar-nav .show>.nav-link {
    color: gray
}

.navbar-light .navbar-nav .nav-link:hover {
    color: gray
}

a.nav-link.nav-link-label {
    margin: 5px 0 0 0
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff
}

.dropdown-notification .notification-text {
    color: #000 !important
}

.header-navbar .navbar-container ul.nav li .scrollable-container a {
    width: 100%
}


/*notification end here*/


/*drop down start here*/

.vertical-overlay-menu .main-menu .navigation li.has-sub>a:not(.mm-next):after,
.vertical-overlay-menu.menu-hide .main-menu .navigation li.has-sub>a:not(.mm-next):after,
body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation li.has-sub>a:not(.mm-next):after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "";
    display: inline-block;
    position: absolute;
    right: 11px;
    top: 15px;
    width: 20px;
    transform: rotate(0);
    font-size: 18px;
    transition: -webkit-transform .2s ease-in-out;
    height: 20px
}

.vertical-overlay-menu .main-menu .navigation li.open>a:not(.mm-next):after,
.vertical-overlay-menu.menu-hide .main-menu .navigation li.open>a:not(.mm-next):after,
body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation li.open>a:not(.mm-next):after {
    transform: rotate(90deg)
}

/* .main-menu.menu-light .navigation>li ul li {
    background: #5568FE !important;
}

ul#main-menu-navigation {
    background: #5568FE;
}

.main-menu.menu-light .navigation>li>ul {
    background: #5568FE;
} */

.nav-item.has-sub.open #main-menu-navigation {
    width: 80%;
    margin-left: auto;
}



/* .main-menu.menu-light .navigation>li ul li>a {
    padding: 8px 18px 10px 47px;
    margin: 0;
    color: #999 !important;
} */

/* .main-menu.menu-light .navigation>li ul li>a:hover {
    color: #FFFFFF !important;
} */

/* .ma.main-menu.menu-light .navigation>li ul .active>a,
in-menu.menu-light .navigation>li ul li:hover {
    color: #fff
} */

/* .main-menu.menu-light .navigation>li.open .hover>a,
.main-menu.menu-light .navigation .menu-content li.active>a {
    background: #0D5CAB;
    color: #000;
} */

.main-menu.menu-light .navigation>li.open>a i {
    color: #666;
}

.main-menu.menu-light .navigation>li ul li:first-child>a {
    margin: 0;
}

.cropper input.cr-slider {
    height: auto;
    padding: 0 25px !important;
}

body {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    transition: all .3s ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Jost', sans-serif;
}

.navbar-nav a.dropdown-item {
    background: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-transform: capitalize;
    color: #000;
    font-size: 16px;
    padding: 15px 25px 18px 25px !important;
}

.navbar-nav .dropdown-menu-right {
    border-radius: 10px;
}

.navbar-nav a.dropdown-item:last-child {
    background: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar-nav a.dropdown-item i {
    color: #000
}

.dropdown-divider {
    border-top: 1px solid #e5e5e5;
}

.page-item .page-link:hover {
    background: #0D5CAB;
    color: #fff;
}

.pa.page-item:last-child .page-link,
ge-item:first-child .page-link {
    min-width: 100px;
    text-align: center;
    background: #fff;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: 0 2px 7px rgb(23, 23, 23, .17);
}

.page-item.active .page-link {
    background: #0D5CAB;
    border-color: #0D5CAB !important;
    color: #fff;
    transition: all .3s ease;
}

.page-item.disabled .page-link.next a {
    border-top: 0 !important;
}

li.paginate_button.page-item.next.disabled a {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.page-item .page-link {
    font-size: 15px;
    border: none;
    padding: 12px 18px;
    color: #999;
    box-shadow: 0px 3px 5px 0px rgb(51 51 51 / 20%);
}

.page-item:last-child .page-link {
    color: #333;
    border-radius: 0px;
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
}

.page-item:first-child .page-link {
    color: #333;
    border-radius: 0px;
    border-top-left-radius: 99px;
    border-bottom-left-radius: 99px;
}

.page-item.active .page-link:hover {
    background: #0D5CAB;
}

.showing-result {
    font-size: 15px;
    font-weight: 500;
    color: #333;
}

.dr.dropdown-item:focus i,
.dropdown-item:hover i {
    color: #fff
}

.table tbody td::first-letter {
    text-transform: capitalize
}


table thead tr {
    background: #fff;
}

table thead tr th:first-child {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px
}

table thead th {
    padding-top: 20px !important;
    padding-bottom: 20px !important
}

table td img {
    width: 22px;
    height: 22px;
    margin-right: 10px;
    border-radius: 50%
}

table {
    border-collapse: separate;
    border-spacing: 0 10px;
    white-space: nowrap;
}

.maain-tabble tbody tr td, .maain-tabble thead tr th {
    font-size: 15px;
}

.dropdown .dropdown-menu {
    transition: none !important
}

.table thead th {
    vertical-align: bottom;
    border-bottom: none !important;
    border-top: none !important;
    color: #333;
    text-transform: uppercase;
    font-weight: 600;
}

.table-bordered td,
.table-bordered th {
    border: transparent
}

.table-bordered {
    border: none
}

html body .pace .pace-progress {
    background-color: transparent
}

.box {
    background: #fff;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    margin: 0 0 40px 0;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, .2)
}

.box img {
    margin: 0 0 0 10px;
    object-fit: cover;
    object-position: center
}


/*================================ eps css start here =========================*/

.dashboard .card-dashboard {
    padding: 45px
}

.dashboard h4 {
    transform: rotate(-90deg);
    position: absolute;
    margin: auto 0;
    width: 290px;
    top: 200px;
    bottom: 0;
    font-size: 18px;
    left: -141px;
    color: #000;
    font-weight: 600;
    text-align: center
}


/*================================ eps css end here =========================*/


/*================================ add user css start here =========================*/

.maain-tabble table {
    padding: 0 20px 0 10px;
}

.dropdown-toggle::after {
    width: 15px;
    height: 15px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f106";
    display: inline-block;
    transform: rotate(0);
    font-size: 14px;
    transition: -webkit-transform .2s ease-in-out;
    color: #fff !important;
    border: none !important;
    position: relative;
    top: 0;
    right: 0;
    padding: 0 2px 0 6px;
    margin: 0 .3em 0 0;
    vertical-align: 0
}

.header-navbar .navbar-container ul.nav li a.dropdown-user-link {
    display: flex;
    align-items: center
}

.navigation {
    font-family: 'Jost', sans-serif;
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content a.menu-title, body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content>span.menu-title {
    background: #0D5CAB !important;
}

.main-menu ul.navigation-main {
    margin-top: 0
}

ul.nav.navbar-nav.flex-row {
    margin: 0;
    text-align: center;
    display: block;
    padding: 0
}

.header-navbar .navbar-header {
    padding: 0;
    height: 7rem;
    width: 240px !important;
}

ul.nav.navbar-nav.float-right {
    margin: 16px 0 0 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
    font-weight: 400
}

.navbar-light .navbar-nav .nav-link i {
    font-size: 22px
}

i.ft-menu {
    color: #fff;
    font-weight: 700
}

.navbar-expand-md .navbar-nav .dropdown-menu-right {
    padding: 0;
    border: 0;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, .2)
}

.nav .dropdown-divider {
    margin: 0
}

.main-menu.menu-light {
    color: #fff !important;
    border-right: 0;
    background: white !important;
}

.header-navbar {
    padding: 0;
    /* min-height: 8.5rem; */
    font-family: 'Jost', sans-serif;
    transition: .3s ease all
}

.header-navbar .navbar-header .navbar-brand {
    padding: 0 0
}

body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-brand {
    padding: 0
}

body.vertical-layout.vertical-menu .navbar .navbar-brand {
    white-space: nowrap;
    background: #fff;
    width: 100%;
    border-top-right-radius: 30px;
}

.main-menu.menu-fixed {
    position: fixed;
    top: 7rem;
    height: calc(100% - 4rem);
}

html body .content .content-wrapper {
    padding: 6rem 1.5rem 0 1.5rem;
}

.navbar-light {
    background: #0A1857;
    border: 0 !important;
    /* box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%); */
}

i.ft-menu:hover {
    color: #fff;
}

li.nav-item.has-sub.hover {
    background: #fff
}

.main-menu.menu-light .navigation>li.active>a i,
.main-menu.menu-light .navigation>li:hover>a i {
    color: #fff
}

.main-menu.menu-light .navigation>li.active>a, .main-menu.menu-light .navigation>li.hover>a, .main-menu.menu-light .navigation>li:hover>a {
    text-align: start;
    color: #fff;
    background: #0D5CAB !important;
    width: 100%;
    margin: 0 auto;
    border-radius: 0;
    border-top-left-radius: 99px;
    border-bottom-left-radius: 99px;
}

.main-menu.menu-light .navigation>li.active>a img, .main-menu.menu-light .navigation>li.hover>a img, .main-menu.menu-light .navigation>li:hover>a img, li.nav-item.has-sub.hover img {
    filter: brightness(0) invert(1);
}

.navArrow {
    filter: brightness(0.6);
    transition: 0.1s linear;
}

li.has-sub.hover.nav-item .navArrow {
    filter: brightness(0) invert(1);

}

li.nav-item.has-sub.open .navArrow {
    transform: rotate(90deg);
}

.subactive a {
    background: #fff0 !important;
    color: #0d5cab !important;
}


/* .main-menu.menu-light .navigation>li.nav-item.has-sub.open,.main-menu.menu-light .navigation>li.nav-item.has-sub.open.hover>a, .menu-light .navigation>li.nav-item.has-sub.open a{background: #0D5CAB!important} */

.main-menu.menu-light .navigation>li.nav-item.has-sub.open.hover:hover>a {
    background: #0D5CAB !important;
}

.main-menu.menu-light .navigation li a {
    color: #999;
    font-size: 18px;
    background: transparent;
    line-height: 1;
    font-weight: 400 !important;
    padding: 20px 15px;
    text-transform: capitalize;
    font-family: 'Jost', sans-serif;
    width: 100%;
}

.main-menu.menu-light .navigation>li>a i {
    position: relative;
    top: 0
}

.main-menu.menu-light .navigation>li {
    padding: 0;
    border-left: 0
}

.card {
    background: #fff;
    border-radius: 30px;
}

.table tbody td {
    padding: 1.5rem 2rem;
    color: #666;
    font-size: 13px;
    vertical-align: middle
}

.maain-tabble tbody tr {
    background-color: #fff !important;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%) !important;
    border-radius: 30px;
}

.maain-tabble tbody tr td {
    color: #999;
    font-weight: 400 !important;
    border-radius: 30px;
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation>li>a>i {
    margin-right: 12px;
    width: 18px;
    color: #fff;
    text-align: center
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu {
    width: 300px !important;
    /* box-shadow: 3px 3px 14px rgb(0 0 0 / 10%); */
}

.nav.nav-tabs.nav-underline .nav-item a.nav-link.active,
.nav.nav-tabs.nav-underline .nav-item a.nav-link:focus,
.nav.nav-tabs.nav-underline .nav-item a.nav-link:hover {
    color: #0D5CAB !important;
    border-bottom: 2px solid #0D5CAB
}


/*=======================user create a project start here ==========================*/

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .navigation>li>a {
    padding: 20px 0 20px 14px
}

body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content a.menu-title,
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content>span.menu-title {
    padding: 20px 20px 20px 20px;
    margin: 0
}

.web-font1 {
    font-family: 'Jost', sans-serif;
}

.web-font2 {
    font-family: 'Jost', sans-serif;
}

.search-bar {
    float: right
}

.search-bar input[type=text] {
    height: 50px;
    border: 0;
    background: #f9f9f9;
    border-radius: 50px;
    width: 300px;
    padding: 0 20px
}

.search-bar label {
    margin: 0 0 10px 0;
    color: var(--default-color)
}

.search-bar input[type=text]:focus {
    border: 0 !important;
    box-shadow: none;
    outline: 0
}


/*========================== login end here============================*/

a.dropdown-item:hover,
a.dropdown-item:hover i {
    color: #0D5CAB !important
}


label {
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

input::placeholder {
    color: rgb(0, 0, 0, .5) !important;
    font-weight: 400 !important;
}

.form-control:focus {
    color: #000;
    border: 1px solid #ebebeb
}

input.form-control::-webkit-inner-spin-button {
    -webkit-appearance: none
}

.dropdown .dropdown-menu {
    transition: none !important
}

.main-menu.menu-light .navigation>li.open>a {
    background: #0d5cab;
    color: #fff;
    border-radius: 99px 0px 0px 99px;
}

.main-menu.menu-light .navigation>li.open>a img {
    filter: brightness(0) invert(1);
}

.main-menu.menu-light .navigation>li.open {
    border: 4px #ec5a26 !important
}

.dropdown-menu {
    min-width: 8rem;
    border: 0;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, .3);
    border-radius: 5px
}

table tbody td .dropdown-item i {
    color: #161822 !important;
    padding: 0px;
    font-size: 15px !important;
    width: 25px;
    margin-right: 5px;
    font-weight: 600;
    border-radius: 0;
    text-align: center;
}

table tbody td .dropdown-item {
    color: #161822 !important;
    padding: 2px 10px 2px 10px;
    font-size: 16px !important;
    margin: 0;
    font-weight: 400;
    width: auto;
    border-radius: 0;
}

.dropdown-menu.custom-dropdown.show {
    padding: 5px 5px;
    border-radius: 20px;
}

.dropdown-menu.custom-dropdown.show a:hover, .dropdown-menu.custom-dropdown.show a:hover i, .dropdown-menu.custom-dropdown.show button:hover, .dropdown-menu.custom-dropdown.show button:hover i {
    background: #fff0;
    color: #0D5CAB !important;
}

table tbody td a.dropdown-item:hover,
table tbody td a.dropdown-item:hover i {
    color: #fff !important
}

table tbody td a i {
    color: #666
}

table i {
    color: #666 !important
}

.navbar-expand-md .navbar-collapse {
    z-index: 99;
    position: relative;
    margin-top: 7px
}

.maain-tabble tbody tr td.red-text,
.red-text {
    color: #0D5CAB !important
}

.theme-colour {
    color: #5568FE !important;
}

.white-colour {
    color: #fff;
}

.black-colour {
    color: #000;
}

.l-green-text,
.maain-tabble tbody tr td.l-green-text {
    color: #8dc63f !important
}

.maain-tabble tbody tr td.yellow-text,
.yellow-text {
    color: #d8ad00 !important
}

.custom-control {
    min-height: 2.45rem;
    padding-left: 2.5rem;
    padding-top: 4px
}

.custom-control-label::before {
    position: absolute;
    top: .225rem;
    left: 0;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    pointer-events: none;
    content: "";
    user-select: none;
    background-color: #fff !important;
    border: 1px solid #ccc
}

.custom-control-label::after {
    width: 1.5rem;
    height: 1.5rem
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #0D5CAB !important
}

.custom-control-label {
    font-weight: 700;
    color: #000
}

input:focus,
textarea:focus {
    outline: 0 !important
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input[type=number] {
    -moz-appearance: textfield
}

.maain-tabble {
    position: relative;
    z-index: 1
}

thead tr {
    box-shadow: none !important;
}


/* ========================= CUSTOM CSS START ===================== */

.site-btn {
    color: #fff;
    font-size: 18px;
    display: inline-block;
    padding: 10px 35px;
    min-width: 200px;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid #5568FE;
    background: #5568FE;
    transition: ease-in-out .2s;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    border-radius: 10px;
}

.site-btn:hover {
    background: transparent;
    color: #5568FE;
}

.site-btn-accept {
    color: #5568FE;
    font-size: 18px;
    display: inline-block;
    padding: 10px 35px;
    min-width: 150px;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid rgba(112, 112, 112, 0.3);
    background: transparent;
    transition: ease-in-out .2s;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
    border-radius: 10px;
}

.site-btn-accept:hover {
    background: #5568FE;
    color: #fff;
}


.site-dotted-btn {
    color: #5568FE;
    font-size: 18px;
    display: inline-block;
    padding: 10px 35px;
    min-width: 200px;
    text-align: center;
    border: dotted;
    text-transform: capitalize;
    background: #ffffff;
    transition: ease-in-out .2s;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    border-radius: 10px;
}

.site-dotted-btn:hover {
    background: transparent;
    color: #5568FE;
}


.login-card {
    overflow: hidden;
    /* box-shadow: 0 3px 20px rgb(0, 0, 0, .22) */
}

.login-left-col {
    background: url(./../../images/login-right.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff !important;
    border-radius: 15px 0 0 15px;
}

.loginBgRight {
    background: url(../../images/loginBg2.png) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 90vh;
    border-radius: 30px;
    width: 95%;
    margin: 0 auto;
}

.loginBgLeft {
    background: url('../../images/loginBg.png') no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 4rem;
}

.login-right-col {
    display: flex;
    /* background: url('../../images/login-left-bottom.png') no-repeat #fff; */
    background-position: bottom;
    width: 100%
}

.back-web {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
}

.back-web:hover {
    color: #fff;
}

.form-field {
    position: relative;
    margin-bottom: 20px
}

.site-input {
    background: #fff;
    border: 1px solid #E0E0E0;
    font-weight: 500;
    padding: 15px 30px;
    font-size: 16px;
    color: #333;
    width: 100%;
    resize: none;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 99px;
    -moz-appearance: none;
}

.site-input:focus,
select.site-input:focus {
    outline: 0 !important
}

.site-input.left-icon {
    padding: 15px 15px 15px 50px !important;
}

/* .site-input.right-icon {
    padding: 15px 50px 15px 30px !important
} */

.site-input.both-icon {
    padding: 15px 50px 15px 50px !important;
}

/* 
i.right-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    cursor: pointer;
} */

.passwordWrapper {
    min-width: 280px;
}

.passwordWrapper i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    cursor: pointer;
    color: #999;
}

.passwordWrapper input {
    padding-right: 50px !important;
}

.leftIcon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}


/* switch start*/

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 99px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 99px;
}

input:checked+.slider {
    background-color: #4CCA61;
}

/* input:focus+.slider {
    box-shadow: 0 0 1px #4CCA61;
} */

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* switch end*/

[type=checkbox]:checked,
[type=checkbox]:not(:checked) {
    position: absolute;
    left: -9999px
}

[type=checkbox]:checked+label, [type=checkbox]:not(:checked)+label {
    position: relative;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    font-size: 14px;
    color: #b2b2b2 !important;
    margin-bottom: 0;
    padding-left: 20px;
}

[type=checkbox]:checked+label:before, [type=checkbox]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #b2b2b2;
}

[type=checkbox]:checked+label:after, [type=checkbox]:not(:checked)+label:after {
    content: '\2714';
    color: #0D5CAB;
    position: absolute;
    font-size: 17px;
    top: 50%;
    transform: translateY(-50%) !important;
    left: 1px;
    border-radius: 100%;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

[type=checkbox]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0)
}

[type=checkbox]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}


.login-heading {
    padding: 30px 0px 90px 0px;
}

.back-link {
    font-size: 18px;
    color: #0064BE !important;
    text-transform: capitalize;
    font-weight: 800
}

.back-link:hover {
    text-decoration: underline !important
}


.dashboard .box.right .blue,
.dashboard .box.right .orange {
    width: 115px;
    min-width: 115px;
    height: 115px;
    background: #2e5eb6;
    border-radius: 100%;
    border: 6px solid #d5dff0;
    text-align: center;
    transition: all .3s ease;
    display: flex;
    align-items: center;
    justify-content: center
}

.dashboard .box.right .orange:hover {
    background: #0D5CAB
}

.text-50 {
    font-family: 'Jost', sans-serif;
    font-size: 50px;
    font-weight: bold;
}

.text-18 {
    font-family: 'Jost', sans-serif;
    font-size: 18px;
}

.text-16 {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    color: #707070;
}

.text-black-16 {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    color: #000;
}

.text-20 {
    font-family: 'Jost', sans-serif;
    font-size: 20px;
}

.text-24 {
    font-family: 'Jost', sans-serif;
    font-size: 24px;
}

.text-30 {
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.text-org {
    color: #FF6600;
}

.text-gobold-30 {
    font-family: 'Jost', sans-serif;
    font-size: 30px;
}

.for-bold {
    font-weight: bold;
}

.fa-star {
    color: #F5A52D;
}

.inner-heading-24 {
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}

.for-doted-bdr {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='14' ry='14' stroke='%23333' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 14px;
    padding: 20px;
}

.file-upload-wrap {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='14' ry='14' stroke='%23333' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    min-height: 110px;
    padding: 15px 15px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.file-upload-wrap .preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.file-upload-wrap .upload-icon .fa-file-video {
    font-size: 60px;
    color: #AAAAAA;
}

#upload-input {
    height: 0;
    width: 0;
    visibility: hidden;
    display: none;
}

.file-upload-wrap .has-caption {
    font-size: 14px;
    padding: 5px 5px;
}

.badge-a {
    position: relative;
}

.badge {
    border-radius: 99px;
    background: #e0e0e0;
    color: #0D5CAB;
    font-size: 12px;
    font-weight: 500;
}

.web-hr {
    border-top: 3px solid rgba(0, 0, 0, 0.1);
}

.dashboard .box.right i {
    font-size: 50px;
    color: #fff
}

.entri-drop {
    padding: 8px 15px;
    border-radius: 10px;
}

.box.right .text {
    margin-left: 20px;
    word-break: break-word
}

.form-field i {
    color: #999;
    font-size: 17px;
}


a.dropdown-item.notification.text-muted.text-center {
    color: #080808 !important;
    font-size: 14px;
    padding: 14px 0 !important
}

a.dropdown-item.notification.text-muted.text-center:hover {
    color: #fff !important
}

.fas.fa-bell.notifications-bell {
    width: 52px;
    height: 52px;
    background: #fff;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    color: #5568FE;
    display: flex;
    font-size: 20px;
}

.notification-below-info>small:first-child {
    margin-right: 20px
}

.dropdown .dropdown-menu .dropdown-header {
    text-transform: capitalize;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

.plus-minus-div {
    align-items: center;
    display: flex;
    background: #fff;
    justify-content: space-around;
    box-shadow: 1px 1px 6px #adadad
}

input.table-input#number {
    width: 45px
}

.value-button {
    margin: 0;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer
}

.value-button i {
    color: #555;
    position: relative;
    top: 3px
}

input.table-input {
    border: 0;
    padding: 0 0 0 10px !important
}

p.disabled>[type=checkbox]:checked+label.bordered:before,
p.disabled>[type=checkbox]:not(:checked)+label.bordered:before {
    display: none
}

.plus-minus-div.disabled>.sign-btns {
    display: none
}

.forgot-link i {
    margin-right: 10px
}

.forgot-link.lg-link {
    text-decoration: none !important;
    font-size: 21px
}

.forgot-text {
    font-size: 19px;
    font-weight: 500;
    color: #666
}

.site-input[disabled] {
    box-shadow: none;
    font-size: 18px
}

.black-text {
    color: #000 !important
}

.box .custom-box {
    display: flex;
    align-items: center
}


.dashboard-box {
    display: flex;
    align-items: center;
    justify-content: space-between
}


/*********************************** * * CSS Percentage Circle * Author: Andre Firchow * *********************************/


/*********************************** * * CSS edit section* *********************************/

.edit-user-img {
    position: relative;
    width: 184px;
    /* margin: 0 auto; */
}

.user-details-img {
    width: 111px;
    height: 111px;
    /* border-radius: 100%; */
}

.camera-btn {
    position: absolute;
    width: 42px;
    height: 42px;
    font-size: 20px;
    background-color: white;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    bottom: 0;
    color: #FBAB43;
    cursor: pointer;
}


/*********************************** * * CSS edit section* *********************************/

.boxx {
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, .3);
    border-radius: 10px;
    margin: 10px 0 0 0
}

.c100.p100 .slice,
.c100.p51 .slice,
.c100.p52 .slice,
.c100.p53 .slice,
.c100.p54 .slice,
.c100.p55 .slice,
.c100.p56 .slice,
.c100.p57 .slice,
.c100.p58 .slice,
.c100.p59 .slice,
.c100.p60 .slice,
.c100.p61 .slice,
.c100.p62 .slice,
.c100.p63 .slice,
.c100.p64 .slice,
.c100.p65 .slice,
.c100.p66 .slice,
.c100.p67 .slice,
.c100.p68 .slice,
.c100.p69 .slice,
.c100.p70 .slice,
.c100.p71 .slice,
.c100.p72 .slice,
.c100.p73 .slice,
.c100.p74 .slice,
.c100.p75 .slice,
.c100.p76 .slice,
.c100.p77 .slice,
.c100.p78 .slice,
.c100.p79 .slice,
.c100.p80 .slice,
.c100.p81 .slice,
.c100.p82 .slice,
.c100.p83 .slice,
.c100.p84 .slice,
.c100.p85 .slice,
.c100.p86 .slice,
.c100.p87 .slice,
.c100.p88 .slice,
.c100.p89 .slice,
.c100.p90 .slice,
.c100.p91 .slice,
.c100.p92 .slice,
.c100.p93 .slice,
.c100.p94 .slice,
.c100.p95 .slice,
.c100.p96 .slice,
.c100.p97 .slice,
.c100.p98 .slice,
.c100.p99 .slice,
.rect-auto {
    clip: rect(auto, auto, auto, auto)
}

.c100 .bar,
.c100.p100 .fill,
.c100.p51 .fill,
.c100.p52 .fill,
.c100.p53 .fill,
.c100.p54 .fill,
.c100.p55 .fill,
.c100.p56 .fill,
.c100.p57 .fill,
.c100.p58 .fill,
.c100.p59 .fill,
.c100.p60 .fill,
.c100.p61 .fill,
.c100.p62 .fill,
.c100.p63 .fill,
.c100.p64 .fill,
.c100.p65 .fill,
.c100.p66 .fill,
.c100.p67 .fill,
.c100.p68 .fill,
.c100.p69 .fill,
.c100.p70 .fill,
.c100.p71 .fill,
.c100.p72 .fill,
.c100.p73 .fill,
.c100.p74 .fill,
.c100.p75 .fill,
.c100.p76 .fill,
.c100.p77 .fill,
.c100.p78 .fill,
.c100.p79 .fill,
.c100.p80 .fill,
.c100.p81 .fill,
.c100.p82 .fill,
.c100.p83 .fill,
.c100.p84 .fill,
.c100.p85 .fill,
.c100.p86 .fill,
.c100.p87 .fill,
.c100.p88 .fill,
.c100.p89 .fill,
.c100.p90 .fill,
.c100.p91 .fill,
.c100.p92 .fill,
.c100.p93 .fill,
.c100.p94 .fill,
.c100.p95 .fill,
.c100.p96 .fill,
.c100.p97 .fill,
.c100.p98 .fill,
.c100.p99 .fill,
.pie {
    position: absolute;
    border: .08em solid #0D5CAB;
    width: .84em;
    height: .84em;
    clip: rect(0, .5em, 1em, 0);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0)
}

.c100.p100 .bar:after,
.c100.p100 .fill,
.c100.p51 .bar:after,
.c100.p51 .fill,
.c100.p52 .bar:after,
.c100.p52 .fill,
.c100.p53 .bar:after,
.c100.p53 .fill,
.c100.p54 .bar:after,
.c100.p54 .fill,
.c100.p55 .bar:after,
.c100.p55 .fill,
.c100.p56 .bar:after,
.c100.p56 .fill,
.c100.p57 .bar:after,
.c100.p57 .fill,
.c100.p58 .bar:after,
.c100.p58 .fill,
.c100.p59 .bar:after,
.c100.p59 .fill,
.c100.p60 .bar:after,
.c100.p60 .fill,
.c100.p61 .bar:after,
.c100.p61 .fill,
.c100.p62 .bar:after,
.c100.p62 .fill,
.c100.p63 .bar:after,
.c100.p63 .fill,
.c100.p64 .bar:after,
.c100.p64 .fill,
.c100.p65 .bar:after,
.c100.p65 .fill,
.c100.p66 .bar:after,
.c100.p66 .fill,
.c100.p67 .bar:after,
.c100.p67 .fill,
.c100.p68 .bar:after,
.c100.p68 .fill,
.c100.p69 .bar:after,
.c100.p69 .fill,
.c100.p70 .bar:after,
.c100.p70 .fill,
.c100.p71 .bar:after,
.c100.p71 .fill,
.c100.p72 .bar:after,
.c100.p72 .fill,
.c100.p73 .bar:after,
.c100.p73 .fill,
.c100.p74 .bar:after,
.c100.p74 .fill,
.c100.p75 .bar:after,
.c100.p75 .fill,
.c100.p76 .bar:after,
.c100.p76 .fill,
.c100.p77 .bar:after,
.c100.p77 .fill,
.c100.p78 .bar:after,
.c100.p78 .fill,
.c100.p79 .bar:after,
.c100.p79 .fill,
.c100.p80 .bar:after,
.c100.p80 .fill,
.c100.p81 .bar:after,
.c100.p81 .fill,
.c100.p82 .bar:after,
.c100.p82 .fill,
.c100.p83 .bar:after,
.c100.p83 .fill,
.c100.p84 .bar:after,
.c100.p84 .fill,
.c100.p85 .bar:after,
.c100.p85 .fill,
.c100.p86 .bar:after,
.c100.p86 .fill,
.c100.p87 .bar:after,
.c100.p87 .fill,
.c100.p88 .bar:after,
.c100.p88 .fill,
.c100.p89 .bar:after,
.c100.p89 .fill,
.c100.p90 .bar:after,
.c100.p90 .fill,
.c100.p91 .bar:after,
.c100.p91 .fill,
.c100.p92 .bar:after,
.c100.p92 .fill,
.c100.p93 .bar:after,
.c100.p93 .fill,
.c100.p94 .bar:after,
.c100.p94 .fill,
.c100.p95 .bar:after,
.c100.p95 .fill,
.c100.p96 .bar:after,
.c100.p96 .fill,
.c100.p97 .bar:after,
.c100.p97 .fill,
.c100.p98 .bar:after,
.c100.p98 .fill,
.c100.p99 .bar:after,
.c100.p99 .fill,
.pie-fill {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.c100 {
    position: relative;
    font-size: 120px;
    width: 1em;
    height: 1em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    float: none;
    margin: 0 auto 25px;
    background-color: #ccc
}

.c100 *,
.c100 :after,
.c100 :before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.c100.center {
    float: none;
    margin: 0 auto
}

.c100.big {
    font-size: 208px
}

.c100.small {
    font-size: 80px
}

.c100>span {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
    line-height: 2em;
    font-size: 44px;
    color: #0D5CAB;
    display: block;
    text-align: center;
    white-space: nowrap;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    font-weight: 300
}

.c100:after {
    position: absolute;
    top: .08em;
    left: .08em;
    display: block;
    content: " ";
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: #f5f5f5;
    width: .84em;
    height: .84em;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in
}

.c100 .slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0, 1em, 1em, .5em)
}

.c100.p70 .bar {
    -webkit-transform: rotate(252deg);
    -moz-transform: rotate(252deg);
    -ms-transform: rotate(252deg);
    -o-transform: rotate(252deg);
    transform: rotate(252deg)
}

.c100:hover {
    cursor: default
}

.c100:hover:after {
    top: .04em;
    left: .04em;
    width: .92em;
    height: .92em
}

.c100 sup {
    font-size: 14px;
    position: absolute;
    top: 110px;
    z-index: 999;
    left: 0;
    right: 0;
    color: #faa318;
    text-transform: uppercase
}

.c100>span.blue-text {
    color: #5568FE;
}

.c100 .bar.blue-bar,
.c100 .fill.blue-bar {
    border: .08em solid #2e5eb6;
}


/*********************************** * * CSS Percentage Circle * Author: Andre Firchow * *********************************/

body {
    color: #232323;
}

.cyan-text {
    color: #0D5CAB !important;
}

.regular {
    font-weight: 400 !important;
}

.semi-bold {
    font-weight: 600 !important;
}

.bold {
    font-weight: 700 !important;
}

.x-bold {
    font-weight: 800 !important;
}

.dropdown-notification.nav-item.two-bell-icons a.nav-link i {
    font-size: 30px !important;
    color: #fff;
}

.header-navbar .navbar-container ul.nav li a.nav-link-label {
    padding: 5px
}

.header-navbar .navbar-container ul.nav li a.dropdown-user-link {
    padding: .7rem .6rem
}

.avatar {
    width: 40px !important;
}

.avatar img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 99px;
}

.header-navbar .navbar-container ul.nav li a.dropdown-user-link .user-name {
    margin-bottom: 0 !important;
    font-size: 16px;
    font-weight: 700;
}

.header-navbar .navbar-container ul.nav li a.dropdown-user-link .user-role {
    font-size: 14px;
    font-weight: 500;
}


.custom-card {
    border-radius: 7px 7px 0 0;
    overflow: hidden;
    background: #f2f2f2
}

input.site-input[readonly] {
    background: 0 0 !important;
    padding: 0 !important;
    border: 0
}

.progress {
    height: 33px;
    border-radius: 0
}

.progress-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 6px 0
}

.progress-info>.site-text {
    font-size: 18px
}

.btn-group.custom-dropdown.ml-2.mb-1 {
    margin-bottom: 0 !important
}

.dropdown-menu.reminder-dropdown-menu:before {
    content: "\A";
    border-style: solid;
    border-width: 8px 8px 8px 0;
    border-color: transparent #fff transparent transparent;
    position: absolute;
    top: -px;
    right: 21px;
    transform: rotate(90deg) translateX(-50%)
}

.dropdown.show .nav-link.nav-link-label>i {
    position: relative;
    z-index: 12;
    color: #0D5CAB;
    display: inline-block
}

.dropdown.show a.dropdown-user-link {
    position: relative;
    z-index: 12;
    color: #fff !important;
    display: inline-block
}

.dropdown.show a.dropdown-user-link span.user-name {
    color: #fff
}

.dropdown.show:after {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    position: fixed;
    transition: opacity .15s ease-in-out
}

.dropdown:after {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .15s ease-in-out;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, .7);
    pointer-events: none
}

.dropdown-menu.reminder-dropdown-menu.show {
    right: 0 !important;
    left: inherit;
    width: 350px;
    padding: 15px;
    border-radius: 0;
    border: 0
}

.w-150 {
    width: 150px !important
}


/* Custom */

.dash-card-inner {
    border-radius: 10px !important;
    box-shadow: 0 4px 35px rgba(0, 0, 0, .12) !important;
    background-color: #fff !important
}

.noti-bell i {
    color: #fff !important;
    background-color: #1a3870;
    font-size: 28px !important;
    text-align: center !important;
    line-height: 50px;
    width: 50px !important;
    height: 50px !important;
    border-radius: 100%
}




.main-menu.menu-light .navigation>li {
    background: #fff;
}


nav.header-navbar.navbar-expand-md.navbar.navbar-with-menu.fixed-top.navbar-light.navbar-border {
    width: 100%
}

html body .content .content-wrapper {
    background: 0 0 !important
}

.blue-text {
    color: #5568FE;
}

.dash-card {
    background: white;
    box-shadow: 0 0 10px rgb(0, 0, 0, .11);
    padding: 15px;
    min-height: 192px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.p-lg {
    font-size: 24px !important;
}

.dash-label {
    font-size: 18px;
    margin-bottom: 6px;
    font-weight: 600;
    color: #202020;
}

.dash-input {
    background: white;
    border: 0;
    box-shadow: 0 3px 6px rgb(0, 0, 0, .16);
    resize: none;
    width: 100%;
}

.dash-input::placeholder {
    color: #BBBBBB;
    font-weight: 500;
}


.red-btn {
    background: #D20000;
    color: white;
    border: 1px solid #D20000;
}

.red-btn:hover {
    background: transparent;
    color: #D20000;
    border: 1px solid #D20000;
}

/* .main-menu.menu-light .navigation>li.has-sub.hover>a {
    background: url(../../images/arrow.png) no-repeat 92% 50%, #0d5cab !important;
    color: #fff;
    border-radius: 99px 0px 0px 99px;
} */

/* .main-menu.menu-light .navigation>li.has-sub.active>a,
.main-menu.menu-light .navigation>li.has-sub.hover>a,
.main-menu.menu-light .navigation>li.has-sub:hover>a {
    background: url('../../images/arrow.png') no-repeat 92% 50%, #0d5cab !important;
} */

/* .main-menu.menu-light .navigation>li.nav-item.has-sub.open.hover:hover>a,
main-menu.menu-light .navigation>li.nav-item.has-sub.open>a {
    background: url('../../images/arrow-down.png') no-repeat 92% 50%, #0d5cab !important;
}

.main-menu.menu-light .navigation>li.open.has-sub>a {
    background: url('../../images/arrow-down.png') no-repeat 92% 50%, #0d5cab !important;
} */

/* .nav-item.has-sub.open #main-menu-navigation li.nav-item.is-shown a {
    color: #999 !important;
    padding: 10px;
} */

.transparent-btn {
    background: transparent;
    padding: 0;
    border: 0;
}

.w-172 {
    width: 172px !important;
}

select.dash-input {
    appearance: none;
    background: url(../../images/select-arrow.png) no-repeat 95% 50%
}

.w-300 {
    width: 300px;
}

.search-barr {
    position: relative
}

.search-btn {
    background: 0 0;
    border: 0;
    padding: 0;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    right: 10px
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: white;
    background-color: #0d5cab;
}

html body {
    background: #F5F5F5;
    overflow-x: hidden;
}

.breadcrumb li a,
.breadcrumb li {
    color: #0d5cab !important;
    font-weight: 800;
    text-transform: none;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #0d5cab;
    content: '>'
}

.p-md {
    font-size: 20px
}

.p-sm {
    font-size: 15px;
}

.d-blue-text {
    color: #0D5CAB;
}

.green-text {
    color: #02BC21;
}

.d-grey-text {
    color: #3B3B3B;
}

.grey-text {
    color: #AAAAAA;
}

.select2-container--default .select2-selection--multiple {
    background: url(../../images/select-arrow.png) no-repeat 95% 50%, #fff;
    border: none;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%)
}

.select2-container {
    width: 100% !important
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none
}

.shadow-none {
    box-shadow: none !important;
}

.reply-cont {
    box-shadow: 0 3px 6px rgb(0, 0, 0, .16)
}

.reply-bottom {
    background: #F8F8F8;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav.nav-tabs .nav-item .nav-link.active {
    border: 0;
    border-bottom: 2px solid #0070d4
}

.nav.nav-tabs .nav-item {
    flex: 1;
    ;
}

.nav.nav-tabs .nav-item a {
    width: 100%;
    text-align: center;
    justify-content: center;
    color: #3B3B3B;
    font-weight: 600;
}

.nav.nav-tabs .nav-item a.active {
    color: #0070D4;
}

.message-card {
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%)
}

.tab-placeholder {
    width: 61px;
    height: 61px;
    border-radius: 100%;
    object-fit: cover
}

.p-xs {
    font-size: 13px;
}

.medium {
    font-weight: 500 !important;
}

.accordion button.transparent-btn.collapsed img.accord-up {
    display: none;
}

.accordion button.transparent-btn.collapsed img.accord-down {
    display: block;
}

.accordion button.transparent-btn img.accord-up {
    display: block;
}

.accordion button.transparent-btn img.accord-down {
    display: none;
}

.blue-border-btn {
    background: transparent;
    border: 1px solid #0064be;
    color: #0064be
}

.blue-border-btn:hover {
    background: #0064be;
    border: 1px solid #0064be;
    color: white
}

.red-border-btn {
    background: transparent;
    border: 1px solid #D40024;
    color: #D40024
}

.red-border-btn:hover {
    background: #D40024;
    border: 1px solid #D40024;
    color: white
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice,
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #fff !important;
    border: none;
    color: #3b3b3b;
    font-weight: 600;
    font-size: 13px
}

button.select2-selection__choice__remove {
    color: #000 !important
}

button.select2-selection__choice__remove span {
    color: #fff;
    background: #ce0000;
    padding: 0 5px;
    border-radius: 5px
}

button.select2-selection__choice__remove {
    border-right: 0 !important
}

.tab-img,
.tab-img img {
    width: 78px;
    height: 83px
}

.tab-img img {
    border-radius: 5px;
    object-fit: cover;
}

.tab-img {
    margin-right: 10px;
    position: relative;
}

.tab-img button.transparent-btn {
    position: absolute;
    bottom: 0;
    right: 0;
}

.site-btn.py-1 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.l-red-text {
    color: #FF7088;
}

.l-blue-btn {
    background: #46A8FF;
    color: white;
    border: 1px solid #46A8FF;
}

.l-blue-btn:hover {
    background: transparent;
    color: #46A8FF;
    border: 1px solid #46A8FF;
}

.nav-pills .nav-link.active {
    background: #0064be !important;
}

.company-img,
.company-img img {
    width: 147px;
    height: 147px;
}

.company-img {
    position: relative;
    margin: 0 auto;
}

.company-img img {
    border-radius: 100%;
    object-fit: cover;
}

.camera-btn {
    position: absolute;
    bottom: 5px;
    right: 52px;
    cursor: pointer;
}

.site-field i.right-icon {
    right: 10px;
}

.w-223 {
    width: 293px !important;
}

.m-grey-text {
    color: #8A8A8A;
}

.company-dp {
    width: 115px;
    height: 115px;
    border-radius: 100%;
    object-fit: cover
}

.alert-img {
    width: 147px;
    height: 147px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.main-menu-content {
    background: #fff;
}


/* ========================= CUSTOM CSS END ===================== */



/*--------------- New Css Start ---------------*/

.flexGrow-1 {
    flex-grow: 1;
}

.lightAccent {
    color: #EEF6FF !important;
}

.lightAccentBg {
    background: #EEF6FF !important;
}

.siteBtn {
    display: inline-block;
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
    background: #0D5CAB;
    color: #fff !important;
    border: 1px solid #0d5cab;
    border-radius: 99px;
    padding: 16px 40px;
    transition: 0.3s linear;
    min-width: 140px;
    text-align: center;
    cursor: pointer;
}

.siteBtn2 {
    display: inline-block;
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
    background: #fff;
    color: #0d5cab !important;
    border: 1px solid #0d5cab;
    border-radius: 99px;
    padding: 16px 40px;
    transition: 0.3s linear;
    min-width: 140px;
    text-align: center;
}

.siteBtn:hover, .siteBtn2:hover {
    background: #0A1857;
    color: #fff !important;
}

.dashCard {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 3px 10px #e0e0e0;
    padding: 10px 30px;
}



/*--- Login Pages ---*/

.loginPage {
    background: #fff;
}

.loginCard {
    background: #fff0;
    border-radius: 20px;
    padding: 2rem 3rem;
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
}

.formHeading h2 {
    font-size: 24px !important;
    font-weight: 400;
    color: #374550;
}

.formHeading .formHeadingLg {
    font-size: 38px !important;
    font-weight: 700;
}

/* .formBox h4 {
    font-size: 24px;
    font-weight: 400;
    color: #374550;
} */

.site-label {
    font-size: 20px;
    color: #333;
    padding-left: 30px;
}

.forgotLink {
    font-size: 15px;
    line-height: 1;
    font-weight: 600;
    text-decoration: underline;
}

.backToSite {
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
}




/*--- Dashboard Pages ---*/
.page-title {
    font-size: 36px !important;
    font-weight: 700;
    color: #0D5CAB;
}

.sub-title {
    font-size: 34px !important;
    font-weight: 700;
    color: #0A1857;
}


.sectionTitle {
    font-size: 26px !important;
    font-weight: 700;
    color: #333;
}

/* .page-subtitle {
    font-size: 28px !important;
    font-weight: 400;
    color: #333;
} */

.dashLabel {
    font-size: 17px;
    line-height: 1;
    font-weight: 400;
    color: #000;
}

.dashInput {
    background-color: #fff !important;
    font-weight: 400;
    padding: 10px 15px;
    font-size: 16px;
    color: #989898;
    border: 1px solid #dedede;
    border-radius: 99px;
    resize: none;
    position: relative;
}

select.dashInput {
    /* background: url(../../images/selectBg.png) no-repeat 95% 50%;
    appearance: none; */
    outline: none;
    min-width: 200px;
}

select.dashInput.sm-dropdown {
    min-width: unset !important;
}

.dashInput::placeholder {
    color: #989898 !important;
}

.dashSearchWrap {
    position: relative;
    display: inline-block;
    width: 220px;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none !important;
    border: none;
    width: auto !important;
}

.search-icon i {
    color: #999 !important;
}

.statusActive {
    position: relative;
    left: 15px;
}

.statusActive i {
    color: #66CB42;
    margin-right: 5px;
}

/* .statusActive::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    background: #66CB42;
    width: 10px;
    height: 10px;
    border-radius: 99px;
} */

.statusInactive {
    position: relative;
    left: 15px;
}

.statusInactive i {
    color: #ff0000;
    margin-right: 5px;
}

/* .statusInactive::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    background: #ff0000;
    width: 10px;
    height: 10px;
    border-radius: 99px;
} */

.back-title {
    display: flex;
    align-items: center;
}

.backLink {
    font-size: 20px;
    color: #0D5CAB;
    transition: 0.3s linear;
    margin: 8px 0px;
    border: none;
    background: none;
}

.backLink:hover {
    color: #0A1857;
}

.topicTitle {
    font-size: 24px;
    font-weight: 700;
    color: #333333;
}


/* .sectionTitle h2 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    margin: 0;
} */

.contentMedia {
    position: relative;
}

.contentVideo {
    max-width: 100%;
    width: 100%;
}

.play-button {
    border: none;
    background: none;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play-button i {
    font-size: 70px;
}

.totalLabel {
    font-size: 22px;
    font-weight: 700;
    color: #010101;
}

.totalInfo {
    font-size: 22px;
    font-weight: 700;
    color: #848484;
}

.totalPie img {
    width: 120px;
    min-width: 120px;
}




/*--- Accordion ---*/

.accordionCard {
    margin-bottom: 1rem;
}

.accordionCardHeader {
    background: #0D5CAB;
    padding: 10px;
}

.accordionCardHeader button {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    padding: 0.5rem 1rem;
}

.accordionCardHeader button:hover, .accordionCardHeader button:focus {
    color: #fff;
}

.accordionCardHeader button[aria-expanded=false]::after {
    content: '\f0d7';
    font-weight: 800;
    font-family: "Font Awesome 5 Free";
    position: absolute;
    right: 15px;
    color: #fff;
}

.accordion button[aria-expanded=true]::after {
    content: '\f0d8';
    font-weight: 800;
    font-family: "Font Awesome 5 Free";
    position: absolute;
    right: 15px;
    color: #fff;
}




/*--- Dashboard Form ---*/

.mainLabel {
    font-size: 17px;
    font-weight: 400;
    color: #333333;
    flex: 0 0 260px;
    display: block;
}

.mainText {
    font-size: 17px;
    font-weight: 400;
    color: #333333;
    word-break: break-word;
}

.mainInput {
    background-color: #fff !important;
    font-weight: 400;
    padding: 10px 15px;
    font-size: 16px;
    color: #333;
    border: 1px solid #e0e0e0;
    border-radius: 99px;
    resize: none;
    position: relative;
    width: 100%;
    /* max-width: 280px; */
    /* appearance: none; */
    outline: none;
}

textarea.mainInput {
    max-width: none;
    border-radius: 20px;
}

.mainInput::placeholder {
    color: #999;
}

.mainImageFrame {
    height: 190px;
    width: 260px;
}

.mainImage {
    height: 190px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


.contentImageBox {
    position: relative;
    border: none;
    border-radius: 10px;
    margin: 0px 10px 10px 0px;
    overflow: hidden;
}

.contentImageBoxInner {
    width: 160px;
    height: 160px;
}

.contentImageBox img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    object-position: center;
}

.contentImageBoxAction {
    position: absolute;
    top: 5px;
    right: 5px;
}

.contentImageBoxAction button {
    text-align: center;
    font-size: 14px;
    background: #fff;
    border: none;
    border-radius: 99px;
    height: 30px;
    width: 30px;
    padding: 2px 0px;
    margin: 0px;
}

.contentImageBoxAction .viewContentImage {
    color: #000;
}

.contentImageBoxAction .removeContentImage {
    color: #ff0000;
}


.removeButton {
    text-align: center;
    font-size: 16px;
    color: #ff0000;
    background: #fff0;
    border: none;
    border-radius: 99px;
    height: 35px;
    width: 35px;
    padding: 2px 0px;
    margin: 8px;
}

.maxWidthNone {
    max-width: none !important;
}


/*--- Modal ---*/

.site-modal .modal-content {
    padding: 0;
    border-radius: 0px !important;
    background: #fff;
}

.modal-index {
    padding: 3rem 4rem;
    position: relative;
}

.modal-close {
    font-size: 14px;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    background: #ccc;
    color: #fff !important;
    position: absolute;
    top: 10px !important;
    right: 10px !important;
    opacity: 1;
    transition: 0.4s linear;
    z-index: 9999999;
}

.modal-close:hover {
    background: #ff0000;
}

.modal-heading {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    color: #333;
}

.modal-headingBg {
    font-size: 28px;
    font-weight: 500;
    color: #333;
}

/*--- Notifications ---*/

.notificationText {
    font-size: 18px;
    font-weight: 400;
    color: #666;
}

.notificationBelowInfo small {
    padding: 0px 5px;
    font-size: 14px;
    color: #333;
}

.notiImg img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    object-position: center;
}

.notificationDiv i, .notificationDiv time {
    color: #0D5CAB;
}

li.dropdown-menu-footer a:hover {
    background: #0D5CAB !important;
    color: #fff !important;
}

.notificationBox .notificationBelowInfo time, .notificationBox .notificationBelowInfo span {
    font-size: 16px;
    font-weight: 600;
    color: #0A1857;
}

.notificationBox .viewNoti {
    font-size: 18px;
    font-weight: 500;
    color: #0D5CAB;
}


/*--- User Profile ---*/

.userIimageFrame {
    display: table;
    border: 1px solid #fff;
    border-radius: 50%;
    position: relative;
}

.userImage {
    width: 140px;
    height: 140px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.userIimageFrame .uploadCamera {
    font-size: 14px;
    position: absolute;
    bottom: 0px;
    right: 5px;
    background: #fff;
    color: #0D5CAB;
    border-radius: 50%;
    box-shadow: 2px 2px 5px 1px #c1c1c1;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.passInput {
    width: 100%;
    max-width: none;
}

.w400px {
    max-width: 400px;
    width: 100%;
}

.fullImage {
    position: relative;
    border-radius: 30px;
}

.fullImage img {
    height: 260px;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}

.fullImageAction {
    position: absolute;
    top: 15px;
    right: 15px;
}

.fullImageActionBtn {
    color: #fff;
    font-size: 26px;
    cursor: pointer;
    margin-right: 5px;
    background: none;
    border: none;
}

.imageAction {
    color: #666;
    font-size: 22px;
    cursor: pointer;
    margin-right: 5px;
    background: none;
    border: none;
}

.mediaView {
    display: flex;
    align-items: start;
    gap: 20px;
}

.mediaView img {
    width: auto;
    height: 130px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.notBtn {
    background: none;
    border: none;
}

.deleteBtn {
    color: #ff0000;
    font-size: 20px;
}

.instruction {
    font-size: 15px;
    margin: 5px 0px;
}

.cmsTitle {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    max-width: 400px;
}

.br20 {
    border-radius: 20px !important;
}

/*--------------- New Css End ---------------*/

.menu-expanded .header-navbar .navbar-header ul {
    height: 140px;
    width: 300px;
}

.menu-expanded img.brand-logo {
    width: 120px;
}

img.brand-logo {
    width: 70px;
    padding: 15px 0px;
    transition: 300ms ease all;
}

.menu-expanded #main-menu-navigation {
    margin-top: 60px
}

#main-menu-navigation {
    margin-top: 10px;
    transition: 300ms ease all;
    padding-bottom: 0px;
}

.navigation-main {
    padding-bottom: 60px !important;
}



/*----- Tabs -----*/
#pills-tab .nav-item a {
    border-radius: 99px !important;
    padding: 10px 50px;
    text-align: center;
    color: #000;
}

#pills-tab .nav-item a.active {
    color: #fff;
}

.pillSpan {
    border: 1px solid #dedede;
    border-radius: 99px;
    display: inline-block;
    padding: 5px;
}

/*----- Tabs -----*/